<!DOCTYPE html>
<html lang="en" data-ng-app="HealthyHomes">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Healthy Homes Inspector Application</title>

        <!-- Bootstrap -->
        <link href="js/lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
    <script src="phonegap.js"></script>
    <script type="text/javascript" src="js/lib/camera.js"></script>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="jquery.min.js"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/lib/js/bootstrap.min.js"></script>
         <script src="checklist-model.js"></script>
</head>
<body>
<div class="container" data-ng-controller="buildingCharB12B13">
    <div class="row">
        <form class="form-horizontal" name="b12">
            <fieldset>
                <legend>[BC] Building and Construction Characteristics</legend>
              <div class="panel panel-default">
                    <div class="panel-heading "><h3>B12. Crawl Space</h3></div>
                <div class="panel-body">
                 <legend> Does the house have Crawl Space? </legend>   
               <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="radio-inline">
                              <input type="radio" ng-model="built1" value="Yes"  required> Yes 
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built1" value="No"  required> No
                            </label>
							<span class="label label-warning" data-ng-show="submitted && radio">Required!</span>
                        </div>
                        </div>
                <button class="btn btn-info" onclick="HHCamera.takePicture('B12-1')"><span class="glyphicon glyphicon-camera" style="font-size: 48px;"></span></button>
                      
                          <div id="B12-1-image-area" display="inline"></div>
                <legend> If Yes, </legend>   
               <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="radio-inline">
                              <input type="radio" ng-model="built2" value="Crawls" ng-disabled="built1 != 'Yes'"> Crawls space Vapor Barrier 
                            </label>
                             <label class="radio-inline">
                              <input type="radio" ng-model="built2" value="Vapour" ng-disabled="built1 != 'Yes'"> Vapour Barrier
                            </label>
                        </div>
                        </div>
                    <button class="btn btn-info" onclick="HHCamera.takePicture('B12-2')"><span class="glyphicon glyphicon-camera" style="font-size: 48px;"></span></button>
                      
                          <div id="B12-2-image-area" display="inline"></div>
                     <legend> Is the Crawl space dry?</legend>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="radio-inline">
                             <input type="radio" ng-model="built3"  value="Yes" ng-disabled="built1 != 'Yes'"> Yes
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built3" value="No" ng-disabled="built1 != 'Yes'"> No
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built3" value="Dont Know" ng-disabled="built1 != 'Yes'"> Dont Know
                            </label>
                             <label class="radio-inline">
                              <input type="radio" ng-model="built3" value="Not Assessed" ng-disabled="built1 != 'Yes'"> Not Assessed
                            </label>
                        </div>
                        </div>
                        <button class="btn btn-info" onclick="HHCamera.takePicture('B12-3')"><span class="glyphicon glyphicon-camera" style="font-size: 48px;"></span></button>
                      
                          <div id="B12-3-image-area" display="inline"></div>
                     <legend> Is crawl space freeof debris?</legend>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="radio-inline">
                              <input type="radio" ng-model="built4"  value="Yes"  ng-disabled="built1 != 'Yes'"> Yes
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built4" value="No" ng-disabled="built1 != 'Yes'"> No
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built4" value="Dont Know" ng-disabled="built1 != 'Yes'"> Dont Know
                            </label>
                             <label class="radio-inline">
                              <input type="radio" ng-model="built4" value="Not Assessed" ng-disabled="built1 != 'Yes'"> Not Assessed
                            </label>
                        </div>
                        </div>
                    <button class="btn btn-info" onclick="HHCamera.takePicture('B12-4')"><span class="glyphicon glyphicon-camera" style="font-size: 48px;"></span></button>
                      
                          <div id="B12-4-image-area" display="inline"></div>
                    </div>
                </div>
                
                
                <div class="panel panel-default">
                    <div class="panel-heading "><h3>B13. Attached garage</h3></div>
                <div class="panel-body">
                 <legend> Does the house have attached garage space? </legend>   
                <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label class="radio-inline">
                              <input type="radio" ng-model="built5"  value="Yes" required> Yes
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built5" value="No" required> No
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="built5" value="Dont Know" required> Dont Know
                            </label>
                             <label class="radio-inline">
                              <input type="radio" ng-model="built5" value="Not" required> Not Assessed
                            </label>
							<span class="label label-warning" data-ng-show="submitted && radio4">Required!</span>
                        </div>
                        </div>
              <button class="btn btn-info" onclick="HHCamera.takePicture('B13-1')"><span class="glyphicon glyphicon-camera" style="font-size: 48px;"></span></button>
                      
                          <div id="B13-1-image-area" display="inline"></div>
                    </div>
                </div>
                </div>

        </fieldset>
        <ul class="pager">
            <li><a id="myLink" href="building_char_b11.html">Previous</a></li>
            <li><a id="myLink" href="" ng-click="next('walkthrough_roomaudit_select.html')">Next</a></li>
        </ul>
            
    </form>
    
    </div>    
</div>    
<script>
    HHCamera.loadImages('B12-1');
    HHCamera.loadImages('B12-2');
    HHCamera.loadImages('B12-3');
    HHCamera.loadImages('B12-4');
    HHCamera.loadImages('B13-1');
  </script>
</body>
</html>